<header class="header">
    <nav class="nav">
      <img src="./images/logo.svg" alt="logo" class="nav-logo">
      <button class="btn btn-outline btn-sm btn-radius">Try it free</button>
    </nav>
    <section class="section section-header">
      <div class="section-text">
        <h1 class="section__header">Build The Community Your Fans Will Love</h1>
        <p class="section__body m-w mx-auto padding-block" style="--max-width: 40rem; --padding-block: 1.5rem">
          Huddle re-imagines the way we build communities. You have a voice, but so does 
          your audience. Create connections with your users as you engage in genuine discussion. 
        </p>
      </div>
      <div class="section-action">
        <button class="btn btn-pink btn-block btn-lg btn-radius">Get started for free</button>
      </div>
    </section>
    <img class="header-logo margin-block" style="--margin-block: 3rem 0" src="./images/screen-mockups.svg" alt="Mockups">
  </header>