<ul class="list">
    <li class="list__item">
      <p class="list__item-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente doloremque id repellat consectetur corporis dignissimos facere quasi, enim placeat explicabo.</p>
    </li>
    <li class="list__item list__item-icon">
      <div class="svg-container">
        <svg class="icon">
          <use xlink:href="./sprites/logosprites.svg#icon-email"></use>
        </svg>
      </div>
      <p class="list__item-text">Phone: </p>
    </li>
    <li class="list__item list__item-icon">
      <div class="svg-container">
        <svg class="icon">
          <use xlink:href="./sprites/logosprites.svg#icon-phone"></use>
        </svg>
      </div>
      <p class="list__item-text">Phone: </p>
    </li>
  </ul>