<section class="section section-header">
    <div class="section-text">
      <h1 class="section__header">Build The Community Your Fans Will Love</h1>
      <p class="section__body">Huddle re-imagines the way we build communities. You have a voice, but so does 
        your audience. Create connections with your users as you engage in genuine discussion. 
      </p>
    </div>
    <div class="section-action">
      <button class="btn btn-pink btn-block btn-lg btn-radius">Get started for free</button>
    </div>
  </section>

  <section class="section section-bg">
    <div class="section-logo">
      <img src="./images/illustration-grow-together.svg" alt="Grow together">
    </div>
    <div class="section-text">
      <h1 class="section__header">Build The Community Your Fans Will Love</h1>
      <p class="section__body">Huddle re-imagines the way we build communities. You have a voice, but so does 
        your audience. Create connections with your users as you engage in genuine discussion. 
      </p>
    </div>
  </section>
  
  <section class="section section-bg section-switch">
    <div class="section-logo">
      <img src="./images/illustration-flowing-conversation.svg" alt="Grow together">
    </div>
    <div class="section-text">
      <h1 class="section__header">Flowing Conversations</h1>
      <p class="section__body">You wouldn't paginate a conversation in real life, so why do it online? Our threads have 
        just-in-time loading for a more natural flow. 
      </p>
    </div>
  </section>
  
  <section class="section section-bg">
    <div class="section-logo">
      <img src="./images/illustration-your-users.svg" alt="Grow together">
    </div>
    <div class="section-text">
      <h1 class="section__header">Your Users</h1>
      <p class="section__body">It takes no time at all to integrate Huddle with your app's authentication solution. This means, 
        once signed in to your app, your users can start chatting immediately. 
      </p>
    </div>
  </section>